# Mindent tiltunk
*

# Ezek mennek fel
!/.gitignore
!/index.php
!/auth.php
!/config.php
!/.htaccess
!/api/
!/dist/
!/inc/
!/js/
!/uploads/
!/favicon.ico

# Engedélyezzük a mappák tartalmát is
!**/*.php
!**/*.js
!**/*.css
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.ico
!**/*.svg
!**/*.txt
!**/*.html
!**/*.json
!**/*.md
